[Unit]
Description=RacketHue
ConditionPathExists=/home/max/projects/rackethue/rackethue
After=network-online.target

[Service]
Type=simple
User=rackethue
Group=rackethue
WorkingDirectory=/home/max/projects/rackethue
ExecStart=/home/max/projects/rackethue/rackethue
TimeoutStopSec=5
Restart=always
RestartSec=10
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
